<h2 class="title">Productos</h2>
<ng-template #noData >
  <p class="noData">No hay categorias</p>
</ng-template>

<div class="table-list" >
  <table *ngIf="products.length >= 1; else noData" #table mat-table [dataSource]="products"  class="mat-elevation-z1">
    <ng-container   matColumnDef="id">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let product">{{product.code}}</td>
    </ng-container>
    <ng-container  matColumnDef="name">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let product">{{product.title}}</td>
    </ng-container>
    <ng-container  matColumnDef="category">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let product">{{product.category}}</td>
    </ng-container>
    <ng-container  matColumnDef="price">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let product">{{product.price}}</td>
    </ng-container>
    <ng-container  matColumnDef="rating">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let product">{{product.rating}}</td>
    </ng-container>
    <ng-container  matColumnDef="isActive">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Fecha</th>
      <td
        mat-cell
        *matCellDef="let product"
        ngClass="{{product.isActive ? 'active' : 'inactive'}}"

        >{{product.isActive ? 'Activo' : 'Inactivo' }}</td>
    </ng-container>

    <ng-container  matColumnDef="editar">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let product">
        <button
          mat-button
          color="primary"
          [routerLink]="['/admin/editProduct', product.id]">
          Editar
      </button>
      </td>
    </ng-container>
    <ng-container  matColumnDef="eliminar">
      <th class="table-item" mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let product">
        <button
        mat-button color="warn"
        >Eliminar</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<list-add-button [routerLink]="'/admin/createProduct'"></list-add-button>

<!-- TODO Implementar Borrado -->
<!-- (click)="onDelete(product)" -->
