<mat-sidenav-container  fullscreen>
  <mat-sidenav class="custom-toolbar" #sidenav mode="push" [ngStyle]="{width: '250px'}">

    <mat-toolbar class="custom-toolbar">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>close_small
      </mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item class='list-item'
      *ngFor="let items of dataPage"
      routerLink="{{items.routerLink}}"
      (click)="sidenav.toggle()"
      routerLinkActive="active"
      >
      <mat-icon class='list-item'matListItemIcon>{{items.icon}}</mat-icon>
        {{items.name}}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="custom-toolbar">

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>
      menu
      </mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button>
      <mat-icon>
        logout
      </mat-icon>
      Logout
    </button>
  </mat-toolbar>

  <div class="container p-3">
    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>
